<div>
    <mat-card>
      <span>
        <button mat-raised-button color="primary" (click)="openDialog()">
          Bölge - Birim Ekle
          <mat-icon>playlist_add</mat-icon>
        </button>
      </span>
  
      <span class="example-spacer"></span>
      
  
      <mat-form-field appearance="outline">
        <mat-label>Ara</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="örnek: İznik" #input />
      </mat-form-field>
    </mat-card>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="kasaBolgeAdi" class="background-color:ivory;">
      <th mat-header-cell *matHeaderCellDef>Bölge/Birim Adı</th>
      <td mat-cell *matCellDef="let element">{{ element.kasaBolgeAdi }}</td>
    </ng-container> 
    <ng-container matColumnDef="islem">
      <th mat-header-cell *matHeaderCellDef>İşlem</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="basic" (click)="editDialog(element)">
          <mat-icon>edit</mat-icon> Düzenle
        </button>
        <button mat-raised-button color="basic" (click)="bolgeSil(element)">
          <mat-icon>delete</mat-icon> Sil
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-th"></tr>
    <tr mat-row class="example-detail-row" *matRowDef="let row; columns: displayedColumns"></tr>
       
  </table>